<!DOCTYPE html>
<html>
  <title> Pixtr - For Viewing Photos </title>
  <style>
      body {
        background-color: lightblue;
      }
      img {
        width: 500px;
      }
  </style>

  <body>
    <h1><a href="/">Pixtr</a></h1>

    <%= yield %>
 
  </body>
</html>

